* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 20%;
  font-family: "Courier New", Courier, monospace;
}

/* input field changes */
label {
  display: block;
  color: grey;
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

input,
select {
  width: 100%;
  border: none;
  outline: none;
}

input#description,
input#due-date,
select#category.pl-0 {
  color: grey;
  font-weight: 600;
}

::placeholder {
  color: lightgrey;
  font-weight: 600;
}

#divider {
  height: inherit;
  border: 1px solid lightgray;
}

/* Genric classes */
.display-flex {
  display: flex;
}

.width-50 {
  width: 50%;
}

/* Heading styling */
#heading {
  color: grey;
  margin-top: 1rem;
}

#heading > h1 > center {
  font-weight: 600;
}

/* add task form styling */
.border--top {
  border-top: 0.1rem solid lightgray;
}

.border--bottom {
  border-bottom: 0.1rem solid lightgray;
}

.border--right {
  border-right: 0.1rem solid lightgray;
}

/* Add Button styling */

#add-task-submit span,
#delete-task span {
  font-size: larger;
}

/* task list styling */

#list-task {
  margin-top: 5rem;
}

.task-detail input[type="checkbox"] {
  width: fit-content;
}

.task-detail > div {
  justify-content: space-between;
  align-items: center;
}

.task-tag {
  padding: 0.5rem 1rem;
  background-color: purple;
  margin-right: 1rem;
  color: white;
}

.task-due-date {
  color: #c6c6c6;
  font-weight: 600;
}

#add-task-submit {
  position: relative;
  top: 1rem;
  left: 16.2rem;
}

#delete-task {
  position: absolute;
  top: 14.41rem;
  left: 45rem;
}
/* 
  position: relative;
    top: 1rem;
    left: 15.5rem;
}
*/

/* 
      position: absolute;
    top: 14.41rem;
    left: 45rem;
*/

/*     padding: 0.4rem 1.7rem; */
